bin/
build/
*.class
build/*
bin/*
!build/*.jar
.vscode/
.DS_Store
build/*.class
.gradle/
.vscode/*
.vscode/time_log.json
*.DS_Store
saves
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.bbl
*.blg
*.brf
*.lof
*.lot
